html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Lora', serif; */
  /* font-weight: var(--font-bold); */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --bgr-color: #e2e8f0;
  --sidebar-color: #1992d4;
  --content-bgr-color: #ffffff;
  --content-shadow: #f0b429;
  --font-bold: 700;
  --font-gray: #696969;
}

body {
  margin: 0px;
}

.container {
  background-color: var(--bgr-color);
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}




/* Sidebar start */

.sidebar {
  background-color: var(--sidebar-color);
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 90px repeat(6, 45px);
  grid-auto-rows: 300px;
  align-items: center;
}



.sidebar-settings-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column: 1 / span 2;
  grid-template-rows: repeat(3, 45px);
}

.sidebar-settings-container>p {
  margin: 0px;
}

img {
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 50%;
}


.sidebar-logo {
  height: 20px;
  justify-self: center;
  color: white;
  border: none;
  border-radius: 0px;
}

.sidebar-settings,
.sidebar-settings-container>p {
  align-self: center;
}

.sidebar p {
  color: white;
  /* font-weight: var(--font-bold); */
  font-size: 17px;
}

.sidebar>img:nth-child(1) {
  height: 40px;
  justify-self: center;
  align-self: center;
}



/* Sidebar end */

/* Header start */

.header {
  grid-area: header;
  background-color: var(--content-bgr-color);

  display: grid;
  grid-template-columns: 2fr 1fr;
}

form {
  display: flex;
  justify-content: center;
  /* padding: 60px; */
  justify-content: center;
  align-items: center;
  margin-top: 10px;

}

.search-bar {
  flex: 1;
  max-width: 90%;
  border-radius: 25px;
  border: none;
  background-color: gainsboro;
  padding: 4px;
}

.search-btn {
border: none;
height: 20px;
width: 24px;
margin-left: 5px;
margin-right: 10px;
background-color: white;
}

.search-btn::before {
  position: relative;
  bottom: 3px;
  content: url(./icons/search-24px.png);
  cursor: pointer;
}


.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notif-bell {
  height: 20px;
  margin-right: 10px;

}

.header-content > p{
  margin-left: 20px;
}

.user-image1 {
  height: 45px;
  cursor: pointer;
}


.header-links {
  justify-content: space-evenly;
}

.user-links {
  background-color: var(--sidebar-color);
  margin: 0px 15px;
  border: none;
  border-radius: 25px;
  color: white;
  width: 100px;
  padding: 6px 8px 8px 6px;
  text-align: center;
  cursor: pointer;
  /* font-size: 15px; */
}




.header-content-grid1 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  padding: 20px;
  column-gap: 20px;
}

.header-content-grid1 > p {
  margin: 0px;
}

.user-image {
  grid-row: 1 / 3;
  height: 60px;
  cursor: pointer;
}


.main {
  grid-area: main;
  display: grid;
  gap: 10px;
  grid-template-columns: 3fr 1fr;

}

.main>p {
  text-align: left;
  margin: 20px 0px 0px 20px;
  /* padding-top: 20px; */
  /* margin-left: 20px; */
}

.main-content-container {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
}

/* .main-content-container div {
  padding: 10px;
  border: 2px solid black;
 

} */

.main-content {
  padding: 25px;
  border-radius: 6px;
  border-left: 6px solid #f0b429;
  background-color: var(--content-bgr-color);
}

/* .main-content-btns {
  border: 1px solid black;
  justify-self: right;
}

.main-content-btns > img {
  justify-self: center;
} */


/* Main end */

/* Right side start */

.main-content,
.right-side-container {
  -webkit-box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.1);
}

.right-side-container {
  padding: 10px;
  border-radius: 6px;
  padding: 25px;
  background-color: var(--content-bgr-color);

}

.right-side-content {
  border-bottom: 2px solid gray;
}
.right-side-content:nth-child(3) {
  border-bottom: none;
}

.right-side-content2 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  /* padding: 20px; */
  column-gap: 8px;
  row-gap: 3px;
  margin-top: 4px;
  border: none;
}

.right-side-content2>img {
  height: 30px;
  grid-row: 1 / 3;

}

.right-side-content2>p {
  margin: 0px;
  /* color: black; */
}

.right-side {
  padding: 15px;
  gap: 25px;
}

/* Right side end */

/* Text styling */

.sidebar p,
.header p,
.header button,
.main>p,
.main-content p:nth-child(1),
.right-side>p,
.right-side-content p:nth-child(1) {
  font-weight: var(--font-bold);
}

.main-content>p:nth-child(2),
.right-side-content>p:nth-child(2),
.right-side-content>p:nth-child(3) {
  color: var(--font-gray)
}

.right-side-content2>p:nth-child(2) {
  color: black;
}

.sidebar>p:nth-child(2) {
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
  align-self: center;
}