html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Lora', serif;
  font-weight: 700;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  --bgr-color:#94A3B8;
  --content-bgr-color: #334155;
}

.container {
  background-color: var(--bgr-color);
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar main";
}

.sidebar {
  grid-area: sidebar;
  border: 2px solid red;
}

.sidebar img {
  margin-right: 10px;
}

.sidebar p {
  display: flex;
  margin-left: 20px;
  align-items: center;
}

.sidebar-logo {
/* background-color: red; */
margin-bottom: 3rem;
}

.sidebar-settings-container {
  margin-top: 5rem;
}

.header {
  grid-area: header;
  border: 2px solid red;

  display: grid;
  grid-template-columns: 2fr 1fr;
  
}

.search-bar,
.header-content {
  border: 2px solid black;
}

.search-btn::before {
  content: url(search-24px.png);
}

.main {
  grid-area: main;
  border: 2px solid red;

  display: grid;
  gap: 10px;
  grid-template-columns: 3fr 1fr;

}

.main-content-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  border: 2px solid black;
  
}

.main-content-container div {
  padding: 10px;
  border: 2px solid black;
  background-color: var(--content-bgr-color);

}

.right-side-container {
  padding: 10px;
  border: 2px solid black;
  background-color: var(--content-bgr-color);
}

.right-side {
  padding: 10px;
border: 2px solid black;
}