html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar main";
}

.sidebar {
  grid-area: sidebar;
  border: 2px solid red;
}

.header {
  grid-area: header;
  border: 2px solid red;

}

.main {
  grid-area: main;
  border: 2px solid red;

  display: grid;
  gap: 10px;
  grid-template-columns: 3fr 1fr;

}

.main-content-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.main-content-container div {
  padding: 10px;
  background-color: beige;
}

.right-side-container {
  padding: 10px;
}

.main-right-side {
  background-color: red;
  padding: 10px;
}

.main-right-side > div {
  background-color: beige;
}